#root {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
}

.sandwich-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  max-height: 100vh;
  position: relative;
}

.ingredients {
  position: relative;
  gap: 1em;
  display: flex;
  flex-direction: column;
  left: 1em;
  text-align: right;
}
.ingredients:hover {
  cursor: pointer;
}

.sandwich-stack {
  padding: 2em;
}


.drop-zone {
  height: 30em;
  width: 33em;
  border: dashed, rgba(255, 255, 255, 0.497), 3px;
  background-color: rgb(26, 26, 26);

}

.drop-zone:hover {
  background-color: rgba(255, 255, 255, 0.013);

}

img {
  position: absolute;
  object-fit: contain;
  width: 300px;
  top: 55%;
  right: 23%;
}